# ── PostgreSQL ─────────────────────────────────
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=powercontrol_db
POSTGRES_USER=
POSTGRES_PASSWORD=

# ── pgAdmin ────────────────────────────────────
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# ── App ────────────────────────────────────────
NODE_ENV=development
API_KEY=
PORT=3000